 @{
     ViewData["Title"] = "Depenses";
 }

<div class="text-center">
    <h1 class="display-4">Bienvenue</h1>
    <a asp-controller="Home" asp-action="Depenses" class="btn btn-primary">Voir Tout</a>
    <a asp-controller="Home" asp-action="CreateEditDepense" class="btn btn-secondary">Nouvelle Depense</a>

</div>


